/*css는 후에 공부*/

* {
    box-sizing: border-box;
  }

.title_box {
    display: inline-block;
    width: 100%;
    line-height: 1.3em;
    background:#EAEAEA;
    color:#333333;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.list th {
    height: 30px;
    text-align: center;
    border: 1px solid #e1e1e1;
    background-color: #797979;
    color: white;
}

.list td {
    height: 30px;
    text-align: center;
    border: 1px solid #e1e1e1;
}

.list tr:nth-child(even) {
    background-color: lightgoldenrodyellow;
}

h1 {
    text-align: center;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    resize: vertical;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
} 

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

.submit-btn {
    margin-right: 10px;
}
  
  